@charset "UTF-8";
/* line 17, ../../home/phil/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../home/phil/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../home/phil/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../home/phil/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../home/phil/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../home/phil/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../home/phil/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../home/phil/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../home/phil/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 2, ../../home/phil/code/qgic-2013/qgic/static/sass/_type.sass */
body {
  font-family: "Open Sans", sans-serif;
  color: #333333;
}

/* line 6, ../../home/phil/code/qgic-2013/qgic/static/sass/_type.sass */
h1, h2, h3, h4, h5, h6, th {
  font-family: "Open Sans", sans-serif;
}

/* line 8, ../../home/phil/code/qgic-2013/qgic/static/sass/_type.sass */
h1 {
  font-size: 2em;
}

/* line 10, ../../home/phil/code/qgic-2013/qgic/static/sass/_type.sass */
h2 {
  font-size: 1.5em;
  margin: 0.5em 0;
  font-weight: bold;
}

/* line 14, ../../home/phil/code/qgic-2013/qgic/static/sass/_type.sass */
h3 {
  font-size: 1.3em;
  margin: 2em 0 0.5em;
  text-transform: uppercase;
}

/* line 18, ../../home/phil/code/qgic-2013/qgic/static/sass/_type.sass */
h4 {
  font-size: 1em;
  margin: 1.5em 0 0.667em;
  font-weight: bold;
}

/* line 23, ../../home/phil/code/qgic-2013/qgic/static/sass/_type.sass */
a {
  color: #3399cc;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px dashed #3399cc;
}

/* line 31, ../../home/phil/code/qgic-2013/qgic/static/sass/_type.sass */
p {
  margin: 0.667em 0;
  line-height: 1.4em;
}

/* line 35, ../../home/phil/code/qgic-2013/qgic/static/sass/_type.sass */
strong {
  font-weight: bold;
}

/* line 37, ../../home/phil/code/qgic-2013/qgic/static/sass/_type.sass */
em {
  font-style: italic;
  color: #6ea13e;
}

/* line 41, ../../home/phil/code/qgic-2013/qgic/static/sass/_type.sass */
blockquote {
  max-width: 32em;
  margin-left: 2em;
  font-style: italic;
  padding: 1em;
  line-height: 1.2em;
  color: #6ea13e;
}
/* line 50, ../../home/phil/code/qgic-2013/qgic/static/sass/_type.sass */
blockquote cite {
  display: block;
  font-size: 0.8em;
  margin: 1em 0 0;
  text-align: right;
  font-style: normal;
}
/* line 56, ../../home/phil/code/qgic-2013/qgic/static/sass/_type.sass */
blockquote cite:before {
  content: "—";
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 8, ../../home/phil/code/qgic-2013/qgic/static/sass/_icons.sass */
[data-icon]:before {
  font-family: "icomoon";
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 9, ../../home/phil/code/qgic-2013/qgic/static/sass/screen.sass */
.header-nav {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
}
/* line 17, ../../home/phil/code/qgic-2013/qgic/static/sass/screen.sass */
.header-nav .header-nav-content {
  max-width: 768px;
  margin: 0 auto;
  position: relative;
}
/* line 7, ../../home/phil/code/qgic-2013/qgic/static/sass/_mixins.sass */
.header-nav .header-nav-content div, .header-nav .header-nav-content header, .header-nav .header-nav-content nav, .header-nav .header-nav-content ul, .header-nav .header-nav-content li, .header-nav .header-nav-content h1, .header-nav .header-nav-content h2, .header-nav .header-nav-content h3, .header-nav .header-nav-content h4, .header-nav .header-nav-content h5, .header-nav .header-nav-content h6 {
  display: inline-block;
}
/* line 9, ../../home/phil/code/qgic-2013/qgic/static/sass/_mixins.sass */
.header-nav .header-nav-content ul, .header-nav .header-nav-content li {
  list-style: none;
}
/* line 23, ../../home/phil/code/qgic-2013/qgic/static/sass/screen.sass */
.header-nav h1 {
  padding: 0.333em 0;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
/* line 26, ../../home/phil/code/qgic-2013/qgic/static/sass/screen.sass */
.header-nav h1 a {
  color: #6ea13e;
}
/* line 28, ../../home/phil/code/qgic-2013/qgic/static/sass/screen.sass */
.header-nav h1 .word {
  display: inline-block;
  padding-right: 0.3em;
  max-width: 5em;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
/* line 31, ../../home/phil/code/qgic-2013/qgic/static/sass/screen.sass */
.header-nav h1 .word.nospace {
  padding-right: 0;
}
/* line 36, ../../home/phil/code/qgic-2013/qgic/static/sass/screen.sass */
.header-nav nav, .header-nav .nav-register {
  box-sizing: border-box;
  max-width: 0;
  overflow: hidden;
  -webkit-transition: max-width, 0.4s linear;
  -moz-transition: max-width, 0.4s linear;
  -o-transition: max-width, 0.4s linear;
  transition: max-width, 0.4s linear;
  white-space: nowrap;
}
/* line 43, ../../home/phil/code/qgic-2013/qgic/static/sass/screen.sass */
.header-nav nav li::before, .header-nav .nav-register li::before {
  content: "/ ";
  color: rgba(255, 255, 255, 0.667);
  margin-left: 1em;
}
/* line 48, ../../home/phil/code/qgic-2013/qgic/static/sass/screen.sass */
.header-nav .nav-register {
  position: absolute;
  max-width: 100%;
  opacity: 0;
  top: 0.333em;
  right: 0;
}
/* line 55, ../../home/phil/code/qgic-2013/qgic/static/sass/screen.sass */
.header-nav.collapsed {
  padding: 0.2em 0 0.5em;
}
/* line 57, ../../home/phil/code/qgic-2013/qgic/static/sass/screen.sass */
.header-nav.collapsed h1 {
  font-size: 1.2em;
}
/* line 59, ../../home/phil/code/qgic-2013/qgic/static/sass/screen.sass */
.header-nav.collapsed h1 .word {
  padding-right: 0;
  max-width: 0;
  overflow: hidden;
}
/* line 63, ../../home/phil/code/qgic-2013/qgic/static/sass/screen.sass */
.header-nav.collapsed nav, .header-nav.collapsed .nav-register {
  overflow: visible;
  max-width: 100%;
}
/* line 66, ../../home/phil/code/qgic-2013/qgic/static/sass/screen.sass */
.header-nav.collapsed .nav-register {
  opacity: 1;
}
/* line 26, ../../home/phil/code/qgic-2013/qgic/static/sass/_mixins.sass */
.header-nav.collapsed .nav-register a {
  display: inline-block;
  box-sizing: border-box;
  height: 1.4em;
  font-size: 1em;
  padding: 0.2em 0.8em 0.2em;
  background: rgba(0, 0, 0, 0.75);
  color: rgba(0, 0, 0, 0.75);
  text-decoration: none;
  border-radius: 0.35em;
  font-weight: bold;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.083);
  border: 1px solid #6ea13e;
  color: #6ea13e;
  -webkit-transition: all 0.333s;
  -moz-transition: all 0.333s;
  -o-transition: all 0.333s;
  transition: all 0.333s;
}
/* line 34, ../../home/phil/code/qgic-2013/qgic/static/sass/_mixins.sass */
.header-nav.collapsed .nav-register a:hover {
  background: rgba(110, 161, 62, 0.5);
  color: rgba(255, 255, 255, 0.667);
}

/* line 70, ../../home/phil/code/qgic-2013/qgic/static/sass/screen.sass */
.section {
  position: relative;
  z-index: 1;
  padding: 3em 1em 2em;
}

/* line 75, ../../home/phil/code/qgic-2013/qgic/static/sass/screen.sass */
.section-body {
  max-width: 768px;
  margin: 0 auto;
}

/* line 80, ../../home/phil/code/qgic-2013/qgic/static/sass/screen.sass */
#section-top {
  background: rgba(0, 0, 0, 0.75) url("../img/section-top-bg.jpg") 50%;
  background-size: cover;
  color: rgba(255, 255, 255, 0.667);
}
/* line 85, ../../home/phil/code/qgic-2013/qgic/static/sass/screen.sass */
#section-top .section-top-content {
  width: 50%;
}
/* line 88, ../../home/phil/code/qgic-2013/qgic/static/sass/screen.sass */
#section-top .section-top-content h2 {
  margin: 1em 0;
  font-size: 2.5em;
  font-weight: bold;
}
/* line 92, ../../home/phil/code/qgic-2013/qgic/static/sass/screen.sass */
#section-top .section-top-content h2 span {
  display: inline;
  line-height: 1.618em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.75);
  background: rgba(255, 255, 255, 0.667);
}
/* line 95, ../../home/phil/code/qgic-2013/qgic/static/sass/screen.sass */
#section-top .section-top-content .section-top-register-button {
  opacity: 1;
  margin: 2em 0;
}
/* line 26, ../../home/phil/code/qgic-2013/qgic/static/sass/_mixins.sass */
#section-top .section-top-content .section-top-register-button a {
  display: inline-block;
  box-sizing: border-box;
  height: 1.666em;
  font-size: 2em;
  padding: 0.333em 1.332em 0.333em;
  background: #6ea13e;
  color: rgba(0, 0, 0, 0.75);
  text-decoration: none;
  border-radius: 0.2666em;
  font-weight: bold;
  text-transform: uppercase;
  background: rgba(110, 161, 62, 0.333);
  border: 1px solid #6ea13e;
  color: #6ea13e;
  -webkit-transition: all 0.333s;
  -moz-transition: all 0.333s;
  -o-transition: all 0.333s;
  transition: all 0.333s;
}
/* line 34, ../../home/phil/code/qgic-2013/qgic/static/sass/_mixins.sass */
#section-top .section-top-content .section-top-register-button a:hover {
  background: rgba(110, 161, 62, 0.5);
  color: rgba(255, 255, 255, 0.667);
}
/* line 99, ../../home/phil/code/qgic-2013/qgic/static/sass/screen.sass */
#section-top .section-bottom-bar .social a {
  margin-right: 2em;
}

/* line 103, ../../home/phil/code/qgic-2013/qgic/static/sass/screen.sass */
#section-about {
  background: #eeeeee;
}

/* line 108, ../../home/phil/code/qgic-2013/qgic/static/sass/screen.sass */
#section-delegates .delegates-register {
  opacity: 1;
  margin: 2em 0;
}
/* line 26, ../../home/phil/code/qgic-2013/qgic/static/sass/_mixins.sass */
#section-delegates .delegates-register a {
  display: inline-block;
  box-sizing: border-box;
  height: 1.666em;
  font-size: 1.5em;
  padding: 0.333em 1.332em 0.333em;
  background: rgba(0, 0, 0, 0.75);
  color: rgba(0, 0, 0, 0.75);
  text-decoration: none;
  border-radius: 0.2166em;
  font-weight: bold;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.083);
  border: 1px solid #6ea13e;
  color: #6ea13e;
  -webkit-transition: all 0.333s;
  -moz-transition: all 0.333s;
  -o-transition: all 0.333s;
  transition: all 0.333s;
}
/* line 34, ../../home/phil/code/qgic-2013/qgic/static/sass/_mixins.sass */
#section-delegates .delegates-register a:hover {
  background: rgba(110, 161, 62, 0.5);
  color: rgba(255, 255, 255, 0.667);
}

/* line 113, ../../home/phil/code/qgic-2013/qgic/static/sass/screen.sass */
#section-sponsors {
  background: #6ea13e;
  color: white;
}
/* line 116, ../../home/phil/code/qgic-2013/qgic/static/sass/screen.sass */
#section-sponsors em {
  color: rgba(0, 0, 0, 0.75);
}
/* line 118, ../../home/phil/code/qgic-2013/qgic/static/sass/screen.sass */
#section-sponsors a {
  color: rgba(0, 0, 0, 0.75);
  border-color: rgba(0, 0, 0, 0.75);
}
/* line 121, ../../home/phil/code/qgic-2013/qgic/static/sass/screen.sass */
#section-sponsors a:hover {
  background: rgba(255, 255, 255, 0.2);
}
/* line 123, ../../home/phil/code/qgic-2013/qgic/static/sass/screen.sass */
#section-sponsors .feature {
  margin: 1em auto;
}
/* line 125, ../../home/phil/code/qgic-2013/qgic/static/sass/screen.sass */
#section-sponsors .feature a {
  border-width: 0;
}
/* line 127, ../../home/phil/code/qgic-2013/qgic/static/sass/screen.sass */
#section-sponsors .feature img {
  padding: 0.2em;
  background: rgba(255, 255, 255, 0.2);
  margin: 1em;
  vertical-align: middle;
  border-width: 0;
}

/* line 135, ../../home/phil/code/qgic-2013/qgic/static/sass/screen.sass */
#section-team {
  background: rgba(0, 0, 0, 0.75);
  color: rgba(255, 255, 255, 0.667);
}
/* line 138, ../../home/phil/code/qgic-2013/qgic/static/sass/screen.sass */
#section-team .team-members li {
  display: inline-block;
  vertical-align: top;
  width: 12em;
  position: relative;
  height: 12em;
  line-height: 12em;
}
/* line 145, ../../home/phil/code/qgic-2013/qgic/static/sass/screen.sass */
#section-team .team-members li address {
  line-height: 1em;
}
/* line 147, ../../home/phil/code/qgic-2013/qgic/static/sass/screen.sass */
#section-team .team-members li .team-name, #section-team .team-members li .team-role {
  margin: 0;
  position: absolute;
}
/* line 150, ../../home/phil/code/qgic-2013/qgic/static/sass/screen.sass */
#section-team .team-members li .team-name {
  top: 0.5em;
  left: 0.5em;
}
/* line 153, ../../home/phil/code/qgic-2013/qgic/static/sass/screen.sass */
#section-team .team-members li .team-bio {
  display: none;
}
/* line 155, ../../home/phil/code/qgic-2013/qgic/static/sass/screen.sass */
#section-team .team-members li .team-pic {
  width: 100%;
}
/* line 157, ../../home/phil/code/qgic-2013/qgic/static/sass/screen.sass */
#section-team .team-members li .team-role {
  bottom: 0.5em;
  width: 100%;
  text-align: center;
}
/* line 161, ../../home/phil/code/qgic-2013/qgic/static/sass/screen.sass */
#section-team .team-members li .team-address {
  display: none;
}
