<!doctype html>
<html lang="{{ lang }}" class="no-js">
  <head>
    <meta charset="utf-8" />
    <title>{{ title or "Queen's Global Innovation Conference" }}</title>
    {% assets 'css_screen' %}
      <link media="screen, projection" rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
    {% assets 'css_print' %}
      <link media="print" rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,italic;Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
    <script>(function(e){e.className=e.className.replace('no-js','js')})(document.documentElement);</script>
  </head>
  <body>

    {% block content %}
    {% endblock content %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    {% assets 'js' %}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script src="{{ url_for('static', filename='js/scrollable.js') }}"></script>
  </body>
</html>
