{% extends 'base.html' %}

{% block content %}
  <div class="header-nav">
    <div class="header-nav-content">
      <header>
        <h1><a href="#section-top" title="Queen's Global Innovation Conference (top of page)"><span class="acc">Q</span><span class="word">ueen's </span><span class="acc">G</span><span class="word">lobal </span><span class="acc">I</span><span class="word">nnovation </span><span class="acc">C</span><span class="word">onference </span><span class="word nospace">20</span><span class="acc">13</span></a></h1>
      </header>
      <nav>
        <ul>
          <li>
            <a href="#section-about">About</a>
          </li>
          <li>
            <a href="#section-delegates">Delegates</a>
          </li>
          <li>
            <a href="#section-sponsors">Sponsors</a>
          </li>
          <li>
            <a href="#section-team">Team</a>
          </li>
        </ul>
      </nav>
      <div class="register nav-register">
        <a href="{{ url_for('register') }}">Register</a>
      </div>
    </div>
  </div>

  <div class="content">

    <section class="section" id="section-top">
      <div class="section-body section-bottom-bar-margin">
        <div class="section-top-content">
          <h2><span>The Power to Change Systems</span></h2>
          <p>This year Queen’s Global Innovation Conference will challenge you to learn about global issues and what it takes to make a difference.</p>
          <div class="register section-top-register-button">
            <a href="{{ url_for('register') }}">Register</a>
          </div>
        </div>
        <div class="section-bottom-bar">
          <div class="social">
            <a href="https://www.facebook.com/QueensGlobalInnovationConference" data-icon="f" title="facebook"> like</a>
            <a href="https://twitter.com/qgic" data-icon="t" title="twitter"> follow</a>
          </div>
          <div class="js hint"><!-- 
            <p><span class="icon-arrow-down" title="Scroll Down"></span> Scroll Down</p> -->
          </div>
        </div>
      </div>
    </section>

    <section class="section" id="section-about">
      <div class="section-body">
        <h2>About QGIC</h2>
        <p>The Queen’s Global Innovation Conference, or QGIC, inspires delegates to care about the most pressing global issues of our time (think climate change, poverty, and overpopulation), to innovate solutions to these problems, and to integrate them into their communities.  We believe that the challenges we face are increasingly complex and interconnected and require an <strong>interdisciplinary</strong> approach. That’s why we are aiming to be the most interdisciplinary conference on campus. Delegates should leave the conference as smart <strong>systems-changers</strong>, equipped with the necessary tools to create positive change and knowing where they can have the greatest impact</p>

        <h3>The Power to Change systems</h3>
        <p>We believe that addressing complex global issues will require a different approach than the one we’ve been using.</p>
        <p>Here’s what we’re doing differently:</p>

        <h4>1. Collaborative Innovation</h4>
        <blockquote>
          For every complex problem there is an answer that is clear, simple, and wrong
          <cite>H. L. Mencken</cite>
        </blockquote>
        <p>No one person holds the solution. Solutions will come from the experiences, insights and creativity of a group of individuals working together toward a common goal. Solutions will require coordination across industries, disciplines, and silos.</p>

        <h4>2. Systems Thinking</h4>
        <blockquote>
          We can't impose our will on a system. We can listen to what the system tells us, and discover how its properties and our values can work together to bring forth something much better than could ever be produced by our will alone.
          <cite>Donella H. Meadows</cite>
        </blockquote>
        <p>The challenges we face are increasingly complex and interconnected. Complexity is the nature of living systems and the world we live in. Systems thinking teaches us to work within a system’s constraints to achieve desired results and avoid unintended consequences. It stresses the role of interconnections, including the role we play within the system.</p>

        <h4>3. Leadership</h4>
        <blockquote>
          Never doubt that a small group of thoughtful, concerned citizens can change world. Indeed it is the only thing that ever has.
          <cite>Margaret Mead</cite>
        </blockquote>
        <p>Delegates should leave the conference feeling empowered to take action, and equipped with the necessary tools to accomplish their goals. We want to challenge delegates to ask questions about themselves and the systems they operate within, and to be leaders in their communities.</p>

      </div>
    </section>

    <section class="section" id="section-delegates">
      <div class="section-body">
        <h2>Delegates</h2>
        <p>This year Queen’s Global Innovation Conference will challenge you to learn about global issues and what it takes to make a difference.</p>

        <h3>What's in Store For You?</h3>
        <ul>
          <li>
            <p><strong>Speakers:</strong> Speakers will cover topics including poverty, hunger and lack of drinking water, the increasing global population, and climate change. <em>Speakers list coming soon!</em></p>
          </li>
          <li>
            <p><strong>Workshops:</strong> Group activities run by on-campus clubs and professors will allow you to discuss global problems in a systems-thinking lens and give you the skills to develop innovative solutions.</p>
          </li>
          <li>
            <p><strong>The Innovation Challenge:</strong> The most hands-on part of the conference will take the form of a Dragon’s Den-style Innovation Challenge. You will work in inter-disciplinary teams to design a local solution to a global problem. A panel of experts will evaluate their innovations</p>
          </li>
        </ul>

        <div class="register delegates-register">
          <a href="{{ url_for('register') }}">Register</a>
        </div>
      </div>
    </section>

    <section class="section" id="section-sponsors">
      <div class="section-body">
        <h2>Sponsors</h2>
        <p><em>our awesome sponsorship package will go here</em></p>
        <p>Queen’s Global Innovation Conference provides a number of opportunities to establish your brand among students, build your reputation, and strengthen your partnership with the Queen’s Engineering Society. Check out our Sponsorship Package for more information.</p>
        <div class="feature">
          <a href="{{ url_for('static', filename='docs/qgic-sponsorship-package-2013.doc') }}"><img src="{{ url_for('static', filename='img/sponsor-package-thumb.png') }}" alt="Sponsorship Package" />
          <span class="linked">Download our 2013 Sponsorship Pacakge</span></a>
        </div>
        <p>Please do not hesitate to contact us at <a href="mailto:qgicfinance@gmail.com">qgicfinance@gmail.com</a> for more information. We hope that we can work together to create positive change in our community and the world at large.</p>
      </div>
    </section>

    <section class="section" id="section-team">
      <div class="section-body">
        <h2>The Team</h2>

        <div class="team-members">
          <ul>
            {% for member in team_members %}<li
              class="team-member">
                <address>
                  <h4 class="team-name">{{ member.name }}</h4>
                  <img class="team-pic" src="{{ member.mug }}" alt="Photo of {{ member.name }}" title="{{ member.name }}: {{ member.role }}" />
                  <p class="team-role">{{ member.role }}</p>
                  <div class="team-bio">
                    {% for para in member.bio %}
                      <p>{{ para }}</p>
                    {% endfor %}
                  </div>
                  <p class="team-address">
                    <a href="{{ member.contact }}">{{ member.contact }}</a>
                  </p>
                </address>
              </li>{%
            endfor %}
          </ul>
        </div>

        <h3>Contact Us!</h3>
        <p>blah blah blah</p>
      </div>
    </section>

  </div>

{% endblock %}