{% extends 'base.html' %}

{% block content %}
  <div class="header nav">
    <header>
      <h1><a href="#section-top"><span class="acc">Q</span><span class="word">ueen's </span><span class="acc">G</span><span class="word">lobal </span><span class="acc">I</span><span class="word">nnovation </span><span class="acc">C</span><span class="word">onference </span><span class="word">20</span><span class="acc">13</span></a></h1>
    </header>
    <nav>
      <ul>
        <li>
          <a href="#section-about">About</a>
        </li>
        <li>
          <a href="#section-delegates">Delegates</a>
        </li>
        <li>
          <a href="#section-sponsors">Sponsors</a>
        </li>
        <li>
          <a href="#section-team">Team</a>
        </li>
      </ul>
    </nav>
    <div class="nav-register">
      <a href="#register"></a>
    </div>
  </div>

  <div class="content">

    <section class="section" id="section-top">
      <div class="section-body section-bottom-bar-margin">
      </div>
      <div class="section-bottom-bar">
        <div class="social">
        </div>
        <div class="js hint">
          <p><span class="icon-arrow-down" title="Scroll Down"></span> Scroll Down</p>
        </div>
      </div>
    </section>

    <section class="section" id="section-about">
      <div class="section-body">
        <h2>About QGIC</h2>
      </div>
    </section>

    <section class="section" id="section-delegates">
      <div class="section-body">
        <h2>Delegates</h2>
      </div>
    </section>

    <section class="section" id="section-sponsors">
      <div class="section-body">
        <h2>Sponsors</h2>
      </div>
    </section>

    <section class="section" id="section-team">
      <div class="section-body">
        <h2>The Team</h2>
      </div>
    </section>

  </div>

{% endblock %}