{% extends 'base.html' %}

{% block content %}
  <div class="header-nav">
    <div class="header-nav-content">
      <header>
        <h1><a href="#section-top" title="Queen's Global Innovation Conference (top of page)"><span class="acc">Q</span><span class="word">ueen's </span><span class="acc">G</span><span class="word">lobal </span><span class="acc">I</span><span class="word">nnovation </span><span class="acc">C</span><span class="word">onference </span><span class="word nospace">20</span><span class="acc">13</span></a></h1>
      </header>
      <nav>
        <ul>
          <li>
            <a href="#section-about">About</a>
          </li>
          <li>
            <a href="#section-delegates">Delegates</a>
          </li>
          <li>
            <a href="#section-sponsors">Sponsors</a>
          </li>
          <li>
            <a href="#section-team">Team</a>
          </li>
        </ul>
      </nav>
      <div class="register nav-register">
        <a href="http://www.eventbrite.ca/event/8886827741">Register</a>
      </div>
    </div>
  </div>

  <div class="content">

    <section class="section" id="section-top">
      <div class="section-body section-bottom-bar-margin">
        <div class="section-top-content">
          <h2><span>The Power to Change Systems</span></h2>
          <p>This year Queen’s Global Innovation Conference will challenge you to learn about global issues and what it takes to make a difference.</p>
          <div class="register section-top-register-button">
            <a href="http://www.eventbrite.ca/event/8886827741">Register</a>
          </div>
        </div>
        <div class="section-bottom-bar">
          <div class="social">
            <a href="https://www.facebook.com/QueensGlobalInnovationConference" data-icon="f" title="facebook"> like</a>
            <a href="https://twitter.com/qgic" data-icon="t" title="twitter"> follow</a>
          </div>
          <div class="js hint"><!-- 
            <p><span class="icon-arrow-down" title="Scroll Down"></span> Scroll Down</p> -->
          </div>
        </div>
      </div>
    </section>

    <section class="section" id="section-about">
      <div class="section-body">
        <h2>About QGIC</h2>
        <p>The Queen’s Global Innovation Conference, or QGIC, inspires attendees to care about the most pressing global issues of our time (think climate change, poverty, and overpopulation), to innovate solutions to these problems, and to integrate them into their communities.  We believe that the challenges we face are increasingly complex and interconnected and require an <strong>interdisciplinary</strong> approach. That’s why we are aiming to be the most interdisciplinary conference on campus. You should leave the conference as a smart <strong>systems-changer</strong>, equipped with the necessary tools to create positive change and knowing where they can have the greatest impact</p>

        <h3>Our Vision &mdash; The Power to Change systems</h3>
        <p>We believe that addressing complex global issues will require a different approach than the one we’ve been using.</p>

        <h3>Here’s what we’re doing differently:</h3>

        <div class="doing collabs">
          <h4 class="big">Collaborative Innovation</h4>
          <blockquote>
            For every complex problem there is an answer that is clear, simple, and wrong
            <cite>H. L. Mencken</cite>
          </blockquote>
          <p>No one person holds the solution. Solutions will come from the experiences, insights and creativity of a group of individuals working together toward a common goal. Solutions will require coordination across industries, disciplines, and silos.</p>
        </div>

        <div class="doing systems">
          <h4 class="big">Systems Thinking</h4>
          <blockquote>
            We can't impose our will on a system. We can listen to what the system tells us, and discover how its properties and our values can work together to bring forth something much better than could ever be produced by our will alone.
            <cite>Donella H. Meadows</cite>
          </blockquote>
          <p>The challenges we face are increasingly complex and interconnected. Complexity is the nature of living systems and the world we live in. Systems thinking teaches us to work within a system’s constraints to achieve desired results and avoid unintended consequences. It stresses the role of interconnections, including the role we play within the system.</p>
        </div>

        <div class="doing leaders">
          <h4 class="big">Leadership</h4>
          <blockquote>
            Never doubt that a small group of thoughtful, concerned citizens can change world. Indeed it is the only thing that ever has.
            <cite>Margaret Mead</cite>
          </blockquote>
          <p>Delegates should leave the conference feeling empowered to take action, and equipped with the necessary tools to accomplish their goals. We want to challenge delegates to ask questions about themselves and the systems they operate within, and to be leaders in their communities.</p>
        </div>

      </div>
    </section>

    <section class="section" id="section-delegates">
      <div class="section-body">
        <h2>Delegates &mdash; What's in Store?</h2>
        <p>This year Queen’s Global Innovation Conference will challenge you to learn about global issues and what it takes to make a difference.</p>

        <h3>Speakers</h3>
        <p class="speakers text">Speakers will cover topics including poverty, hunger and lack of drinking water, the increasing global population, and climate change.</p>
        <div class="speakers people">
          <a href="#delegates" class="speaker dwyer">
            <h4>Jon Dwyer</h4>
            <p>CEO of Flax Energy</p>
          </a>
          <a href="#delegates" class="speaker alajek">
            <h4>Paul Slomp</h4>
            <p>Grazing Days</p>
          </a>
          <a href="#delegates" class="speaker slomp">
            <h4>Sal Alajek</h4>
            <p>Engineers Without Borders Canada</p>
          </a>
          <div class="clearfix"></div>
        </div>

        <h3>Workshops</h3>
        <p>You will choose between various workshops, focused on environmental issues, poverty, innovation, and personal development. Run by Queen's clubs (QPID, EWB, WEAO, and more), and Queen’s staff and faculty (Stephen Moore, Mark Hostetler, Colin Robinson), these workshops will apply systems thinking to problem solving.</p>

        <h3>The Innovation Challenge</h3>
        <p>The most hands-on part of the conference will take the form of a Dragon’s Den-style Innovation Challenge. You will work in an inter-disciplinary teams to design a solution to a problem facing the Kingston area. A panel of judges will decide which group receives <strong>$1000 to put their plan into action</strong>. Funding for the challenge is provided by Queen's Innovation Connector. The winning team is also eligible to present to the City of Kingston climate change panel.</p>

        <div class="register delegates-register">
          <a href="http://www.eventbrite.ca/event/8886827741">Register Now</a>
        </div>
      </div>
    </section>

    <section class="section" id="section-sponsors">
      <div class="section-body">
        <h2>Sponsors</h2>
        <p>Queen’s Global Innovation Conference provides a number of opportunities to establish your brand among students, build your reputation, and strengthen your partnership with the Queen’s Engineering Society. Check out our Sponsorship Package for more information.</p>
        <div class="feature">
          <a href="{{ url_for('static', filename='docs/qgic-sponsorship-package-2013.doc') }}"><img src="{{ url_for('static', filename='img/sponsor-package-thumb.png') }}" alt="Sponsorship Package" />
          <span class="linked">Download the 2013 Sponsorship Pacakge</span></a>
        </div>
        <p>Please do not hesitate to contact us at <a href="mailto:qgicfinance@gmail.com">qgicfinance@gmail.com</a> for more information. We hope that we can work together to create positive change in our community and the world at large.</p>
      </div>
    </section>

    <section class="section" id="section-team">
      <div class="section-body">
        <h2>The Team</h2>

        <div class="team-members">
          <ul>
            {% for member in team_members %}{% set lf=member.name.split()[0]|lower %}<li
              class="team-member-{{ lf }}">
                <address>
                  <h4 class="team-name">{{ member.name }}</h4>
                  <img class="team-pic" src="{{ member.mug }}" alt="Photo of {{ member.name }}" title="{{ member.name }}: {{ member.role }}" />
                  <p class="team-role">{{ member.role }}</p>
                  <div class="team-bio">
                    {% for para in member.bio %}
                      <p>{{ para }}</p>
                    {% endfor %}
                  </div>
                  <p class="team-address">
                    <a href="{{ member.contact }}">{{ member.contact }}</a>
                  </p>
                </address>
              </li>{%
            endfor %}
          </ul>
        </div>

        <h3>Contact Us!</h3>
        <p>blah blah blah</p>
      </div>
    </section>

  </div>

{% endblock %}